/* Copy and paste your CSS from CodePen into here */
#image {
  max-width: 100%;
  height: auto;
  display: block;
}

.further-reading {
  margin-top: 16px;
}
.page-top {
  text-align: center;
}
#img-caption {
  text-align: center;
  font-size: smaller;
}
.hero-banner {
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: #eeeeee;
  padding-top: 16px;
  padding-bottom: 16px;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  background-color: #fefefe;
}
#tribute-info {
  margin-left: 16px;
}
#image {
  margin: auto;
}
footer {
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  background-color: #eeeeee;
  font-size: smaller;
  border-top: #dddddd solid 2px;
}

h3 {
  margin-top: 48px;
  margin-bottom: 8px;
}
